## 삼성전자 주가데이터 웹크롤링

#### selenium이용하기

In [1]:
from bs4 import BeautifulSoup
import pandas as pd

from selenium import webdriver
import time  # 해당 정보가 다 로딩이 될 때까지 기다릴 때
import datetime  # 년월일,시간 관련 처리
import re

from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as ec

from datetime import datetime

from collections import Counter
from copy import deepcopy

In [2]:
chromedriver_path = r"C:\Users\TFG5076XG\Desktop\chromedriver_win32\chromedriver.exe"
driver = webdriver.Chrome(chromedriver_path)
driver.implicitly_wait(3)   
driver.maximize_window()

In [3]:
url1 = "http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId="
code = "MDC0201020103"

url = url1 + code

In [4]:
driver.get(url)

In [5]:
# 날짜 선택을 위한 버튼 클릭
cal_btn_xpath = '//*[@id="MDCSTAT017_FORM"]/div[1]/div/table/tbody/tr[2]/td/div/div/button[1]'
element = driver.find_element_by_xpath(cal_btn_xpath)
element.click()
time.sleep(3)

start_year_btn_xpath = '/html/body/div[2]/section[2]/section/section/div/div/form/div[1]/div/table/tbody/tr[2]/td/div/div/div/div[1]/div[1]/span/select[1]/option[1]'
WebDriverWait(driver, 3).until(ec.presence_of_element_located((By.XPATH, start_year_btn_xpath))).click()

start_date_btn_xpath = '/html/body/div[2]/section[2]/section/section/div/div/form/div[1]/div/table/tbody/tr[2]/td/div/div/div/div[1]/div[2]/table/tbody/tr[2]/td[2]/a'
WebDriverWait(driver, 3).until(ec.presence_of_element_located((By.XPATH, start_date_btn_xpath))).click()

end_date_btn_xpath = '/html/body/div[2]/section[2]/section/section/div/div/form/div[1]/div/table/tbody/tr[2]/td/div/div/div/div[2]/div[1]/span/select[2]'
WebDriverWait(driver, 3).until(ec.presence_of_element_located((By.XPATH, end_date_btn_xpath))).click()

end_day_btn_xpath = '/html/body/div[2]/section[2]/section/section/div/div/form/div[1]/div/table/tbody/tr[2]/td/div/div/div/div[2]/div[2]/table/tbody/tr[2]/td[3]/a'
WebDriverWait(driver, 3).until(ec.presence_of_element_located((By.XPATH, end_day_btn_xpath))).click()

select_btn_xpath = '/html/body/div[2]/section[2]/section/section/div/div/form/div[1]/div/table/tbody/tr[2]/td/div/div/div/div[3]/button'
WebDriverWait(driver, 3).until(ec.presence_of_element_located((By.XPATH, select_btn_xpath))).click()

see_btn_xpath = '//*[@id="jsSearchButton"]'
WebDriverWait(driver, 3).until(ec.presence_of_element_located((By.XPATH, see_btn_xpath))).click()

In [6]:
# scroll down
itemlist = driver.find_element_by_class_name("CI-FREEZE-SCROLLER")

In [7]:
# driver.execute_script("arguments[0].scrollBy(0, 536)", itemlist)

In [8]:
# driver.execute_script("arguments[0].scrollBy(536, 1072)", itemlist)

In [9]:
# driver.execute_script("arguments[0].scrollBy(0, 27692)", itemlist)

#### 첫 페이지 스크래핑

In [7]:
table_xpath = '/html/body/div[2]/section[2]/section/section/div/div/div[1]/div[1]/div[1]/div[2]/div/div'
WebDriverWait(driver, 3).until(ec.presence_of_element_located((By.XPATH, table_xpath)))
total_table = driver.find_element_by_xpath(table_xpath)

total = total_table.text

In [8]:
splitted = re.split("[\n " "]", total)
splitted

['2021/07/06',
 '81,200',
 '800',
 '+1.00',
 '80,600',
 '81,200',
 '80,500',
 '12,131,651',
 '982,536,524,900',
 '484,746,343,060,000',
 '2021/07/05',
 '80,400',
 '400',
 '+0.50',
 '80,100',
 '80,800',
 '80,000',
 '8,330,969',
 '670,345,813,400',
 '479,970,517,020,000',
 '2021/07/02',
 '80,000',
 '100',
 '-0.12',
 '80,000',
 '80,400',
 '79,900',
 '8,753,097',
 '701,206,526,029',
 '477,582,604,000,000',
 '2021/07/01',
 '80,100',
 '600',
 '-0.74',
 '80,500',
 '80,600',
 '80,000',
 '13,382,882',
 '1,073,188,213,795',
 '478,179,582,255,000',
 '2021/06/30',
 '80,700',
 '300',
 '-0.37',
 '81,100',
 '81,400',
 '80,700',
 '13,288,643',
 '1,075,902,355,151',
 '481,761,451,785,000',
 '2021/06/29',
 '81,000',
 '900',
 '-1.10',
 '81,900',
 '82,100',
 '80,800',
 '15,744,317',
 '1,277,813,841,567',
 '483,552,386,550,000',
 '2021/06/28',
 '81,900',
 '300',
 '+0.37',
 '81,700',
 '82,000',
 '81,600',
 '11,578,529',
 '946,992,165,410',
 '488,925,190,845,000',
 '2021/06/25',
 '81,600',
 '400',
 '+0.49',
 '81,500',
 '81,900',
 '81,200',
 '13,481,405',
 '1,099,148,742,353',
 '487,134,256,080,000',
 '2021/06/24',
 '81,200',
 '1,100',
 '+1.37',
 '80,400',
 '81,400',
 '80,100',
 '18,771,080',
 '1,515,729,920,909',
 '484,746,343,060,000',
 '2021/06/23',
 '80,100',
 '100',
 '+0.13',
 '80,500',
 '80,600',
 '79,900',
 '13,856,548',
 '1,110,045,011,672',
 '478,179,582,255,000',
 '2021/06/22',
 '80,000',
 '100',
 '+0.13',
 '80,200',
 '80,300',
 '79,900',
 '11,773,365',
 '942,656,966,106',
 '477,582,604,000,000',
 '2021/06/21',
 '79,900',
 '600',
 '-0.75',
 '79,700',
 '80,000',
 '79,600',
 '16,063,340',
 '1,282,081,340,900',
 '476,985,625,745,000',
 '2021/06/18',
 '80,500',
 '400',
 '-0.49',
 '81,100',
 '81,100',
 '80,500',
 '14,916,721',
 '1,202,369,230,300',
 '480,567,495,275,000',
 '2021/06/17',
 '80,900',
 '900',
 '-1.10',
 '81,100',
 '81,300',
 '80,700',
 '14,007,385',
 '1,132,293,020,100',
 '482,955,408,295,000',
 '2021/06/16',
 '81,800',
 '900',
 '+1.11',
 '81,500',
 '81,900',
 '81,100',
 '14,999,855',
 '1,223,108,169,181',
 '488,328,212,590,000',
 '2021/06/15',
 '80,900',
 '400',
 '+0.50',
 '80,900',
 '81,200',
 '80,600',
 '10,075,685',
 '814,156,162,500',
 '482,955,408,295,000',
 '2021/06/14',
 '80,500',
 '500',
 '-0.62',
 '80,800',
 '80,900',
 '80,500',
 '10,550,078',
 '850,453,174,124',
 '480,567,495,275,000',
 '2021/06/11',
 '81,000',
 '0',
 '0.00',
 '81,200',
 '81,700',
 '80,700',
 '14,087,962',
 '1,142,077,783,332',
 '483,552,386,550,000',
 '2021/06/10',
 '81,000',
 '100',
 '-0.12',
 '81,300',
 '81,400',
 '80,900',
 '17,586,995',
 '1,426,082,429,800',
 '483,552,386,550,000',
 '2021/06/09',
 '81,100',
 '81,500',
 '82,000',
 '81,100',
 '14,908,823',
 '1,214,345,795,800',
 '484,149,364,805,000']

In [12]:
ex_splitted = splitted[:-8]

=> 마지막 부분에서 데이터의 유실이 발생 되었음을 알 수 있고 이러한 부분들을 처리해주어야 한다.

In [10]:
splitted[-18:]

['2021/06/18',
 '80,500',
 '400',
 '-0.49',
 '81,100',
 '81,100',
 '80,500',
 '14,916,721',
 '1,202,369,230,300',
 '480,567,495,275,000',
 '2021/06/17',
 '80,900',
 '81,100',
 '81,300',
 '80,700',
 '14,007,385',
 '1,132,293,020,100',
 '482,955,408,295,000']

In [10]:
len(splitted)

198

In [11]:
curr_pxl = 0
space = 536

while True:
    driver.execute_script("arguments[0].scrollBy(0," + str(space) + ")", itemlist)
    table_xpath = '//*[@id="jsMdiContent"]/div/div[1]/div[1]/div[1]/div[2]/div/div/table'
    WebDriverWait(driver, 3).until(ec.presence_of_element_located((By.XPATH, table_xpath)))
    total_table = driver.find_element_by_xpath(table_xpath)
    time.sleep(5)
    text = total_table.text
    
    total += "\n"
    total += text
    
    if curr_pxl > 26676:
        break
    curr_pxl += space

In [13]:
# 각 정보를 문자열에서 split
split_info = re.split("[\n " "]", total)

In [14]:
# 날짜만 추출하여 중복되어 잘 못 스크래핑 된 데이터 뽑아내기
date = []
for el in split_info:
    if re.match("(\d{4}/\d+/\d+)", el):
        date.append(el)
        
        
result = Counter(date)

double = []

for key, value in result.items():
    if value == 2:
        double.append(key)

In [15]:
split2 = deepcopy(split_info)

In [16]:
# 데이터의 유실이 있는 경우는 첫번째 세트에서 발생하였다. 각 데이터 셋의 첫번째 셋을 제거해야한다.
# 중복된 날짜에 해당하는 데이터 셋의 첫번째로 나오는 인덱스 추출
idx = []
for i in double:
    idx.append(split2.index(i))

In [17]:
len(idx)

61

In [18]:
# 첫 번째 세트의 데이터가 유실되었는지 확인한 후 해당 날짜에 대한 인덱스 모으기
to_del_first = []
for f in idx:
    first_set = split2[f:(f+10)]
    if first_set.count(split2[f]) == 2:
        to_del_first.append(f)
        idx.remove(f)

In [19]:
len(to_del_first)

8

In [20]:
# to_del_first에 해당하는 인덱스를 중복 데이터 셋 중 데이터 유실이 발생한 세트 지우기
count = 0  # 제거한 원소의 개수

for d_idx in to_del_first:
    d_idx -= count   # 리스트 원소의 del로 인해 해당하는 원소들의 인덱스도 그만큼 줄어들게됨!    
    del split2[d_idx:(d_idx+8)]  # 데이터의 유실이 일어난 데이터 셋의 원소들을 모두 8개씩 들어있다.
    count += 8

print(count)

64

In [21]:
len(idx)

53

In [22]:
# 이후 idx에 남아있는 중복된 데이터들에 대해 제거해주기
count = 0  # 제거한 원소의 개수

for d_idx in idx:
    d_idx -= count   # 리스트 원소의 del로 인해 해당하는 원소들의 인덱스도 그만큼 줄어들게됨!    
    del split2[d_idx:(d_idx+10)]  # 데이터의 유실이 일어난 데이터 셋의 원소들을 모두 8개씩 들어있다.
    count += 10

print(count)

530

In [25]:
# 총 데이터 개수 확인
len(split2)/10  # 총 날짜 수

983.0

In [38]:
# split2 리스트내 각 정보들을 데이터 프레임으로 가져오기
date = []
closing_price = []
comparation = []
ratio = []
market_price = []
highest_price = []
lowest_price = []
trading_volume = []
transaction_amount =[]
market_cap = []

for day in range(int(len(split2)/10)):
    day_ind = day*10
    
    date.append(split2[( day_ind+ 0)])
    closing_price.append(split2[(day_ind + 1)])
    comparation.append(split2[(day_ind + 2)])
    ratio.append(split2[(day_ind + 3)])
    market_price.append(split2[(day_ind + 4)])
    highest_price.append(split2[(day_ind + 5)])
    lowest_price.append(split2[(day_ind + 6)])
    trading_volume.append(split2[(day_ind + 7)])
    transaction_amount.append(split2[(day_ind + 8)])
    market_cap.append(split2[(day_ind + 9)])

In [39]:
cols = [date,closing_price,comparation,ratio,market_price, highest_price,lowest_price,
       trading_volume,transaction_amount, market_cap]

for c in cols:
    print(len(c))

983
983
983
983
983
983
983
983
983
983

In [40]:
# DataFrame으로 묶기
df_samsung = pd.DataFrame(
    {"date" : date,
     "closing_price" : closing_price,
     "comparation" : comparation,
     "ratio" : ratio,
     "market_price" : market_price,
     "highest_price" : highest_price,
     "lowest_price" : lowest_price,
     "trading_volume" : trading_volume,
     "transaction_amount" : transaction_amount,
     "market_cap" : market_cap }    
)

# 날짜 컬럼을 index로 설정하기
df_samsung.set_index("date", inplace = True)
df_samsung.head(10)

,closing_price,comparation,ratio,market_price,highest_price,lowest_price,trading_volume,transaction_amount,market_cap
date,,,,,,,,,
2021/07/06,"81,200",800,+1.00,"80,600","81,200","80,500","12,131,651","982,536,524,900","484,746,343,060,000"
2021/07/05,"80,400",400,+0.50,"80,100","80,800","80,000","8,330,969","670,345,813,400","479,970,517,020,000"
2021/07/02,"80,000",100,-0.12,"80,000","80,400","79,900","8,753,097","701,206,526,029","477,582,604,000,000"
2021/07/01,"80,100",600,-0.74,"80,500","80,600","80,000","13,382,882","1,073,188,213,795","478,179,582,255,000"
2021/06/30,"80,700",300,-0.37,"81,100","81,400","80,700","13,288,643","1,075,902,355,151","481,761,451,785,000"
2021/06/29,"81,000",900,-1.10,"81,900","82,100","80,800","15,744,317","1,277,813,841,567","483,552,386,550,000"
2021/06/28,"81,900",300,+0.37,"81,700","82,000","81,600","11,578,529","946,992,165,410","488,925,190,845,000"
2021/06/25,"81,600",400,+0.49,"81,500","81,900","81,200","13,481,405","1,099,148,742,353","487,134,256,080,000"
2021/06/24,"81,200","1,100",+1.37,"80,400","81,400","80,100","18,771,080","1,515,729,920,909","484,746,343,060,000"
2021/06/23,"80,100",100,+0.13,"80,500","80,600","79,900","13,856,548","1,110,045,011,672","478,179,582,255,000"